mixin banner(data)
  a(href=data.promoUrl+data.utm target="_blank" style="text-decoration: none;")
    img(src=data.promoBanner alt=data.promoDesc style="border: none; padding: 0px; width: 100%; height: auto;")