mixin banner(data)
  a(href=data.promoUrl+data.utm target="_blank" style="text-decoration: none;")
    img(width="600" src="https://rassylka.static1-sima-land.com/ftp_rassylka/"+data.campain+data.promoBanner alt=data.promoDesc style="border: none; padding: 0px; width: 100%; height: auto;")